@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;

  --primary: #1e3a8a;
  --secondary: #f59e0b;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:Arial, Helvetica, sans-serif;
}